@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");

@font-face {
  font-family: Vonique;
  src: url(Vonique\ 64\ Bold\ Italic.ttf);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@keyframes hake {
  0% {
    transform: scale(1.2);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* ----------- */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 60%;
  max-width: 80%;
  height: 70%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* -------------- */
div {
  border: 1px;
}

a {
  text-decoration: none;
  transition: all 200ms;
}

a:visited {
  color: black;
}

a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* FOR NAVBAR */

nav {
  width: 55vw;
  margin: auto;
  border: 1px;
  margin-left: 10px;
  padding: auto;
  display: flex;
  gap: 60px;
  position: none;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  flex-wrap: wrap;
}

h4 {
  font-size: 25px;
  font-family: "Kanit", sans-serif;
  color: #ec9a29;
}

#nav-img {
  width: 70px;
  transition: all 300ms;
}

#nav-img:hover {
  transform: scale(1.2);
  animation: hake 3s;
  animation-iteration-count: infinite;
}

/* Hide the navigation menu by default */

.nav-menu {
  display: none;
}

@media screen and (max-width: 900px) {
  * {
    margin: 0;
    padding: 0;
  }

  nav {
    display: none;
  }
  /* Show the navigation menu when the "active" class is added */
  .nav-menu.active {
    display: flex;
    flex-direction: block;
    position: sticky;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(17, 87, 112, 0.9);
    z-index: 999;
    overflow-y: scroll;
    width: 97vw;
    margin-left: 0;
    height: 100vh;
  }

  .menu-icon.active {
    width: 100vw;
    margin-top: 0;
  }

  ul {
    width: 100vw;
  }

  li {
    list-style: none;
    text-align: center;
  }

  h5 {
    font-size: 4rem;
    color: white;
    margin-top: 4vw;
    font-family: "Kanit";
  }
  /* Style the hamburger menu icon */
  .menu-icon {
    display: inline-block;
    cursor: pointer;
    position: relative;
    user-select: none;
  }

  /* Style the three lines of the hamburger menu icon */
  .menu-icon span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    z-index: 1;
  }

  /* Animate the hamburger menu icon when the "active" class is added */
  .menu-icon.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

/* ------- */

.title-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;
  height: 100vh;
  background-image: url(nedladdning.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
}

.title-text {
  margin-top: 60px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  width: 40vw;
  background-color: rgba(24, 141, 184, 0.3);
}

#title-motto {
  margin-top: 0;
  font-family: "Kanit", sans-serif;
}

h1 {
  font-size: 4em;
  text-align: center;
  color: #bb0a21;
  font-family: "Kanit", sans-serif;
}

h2 {
  font-size: 32px;
  text-align: center;
  color: white;
}
h3 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 200%;
  background-color: #ec9a29;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.our-skiers {
  display: flex;
  height: 40vh;
  margin-top: 2vh;
}

.skiers {
  transition: 300ms all;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  overflow: hidden;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 10 10'> <path d='M0 0 L0 10 L10 10 ' fill='black' /></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

.skiers-text {
  width: 50%;
  height: 100%;
  background-color: white;
}
.skiers-pic {
  width: 50%;
  height: 100%;
}

#tjäder {
  background-image: url(jepser\ .png);
}

.skiers:hover {
  transform: scale(1.05);
  border-radius: 5px;
  cursor: pointer;
}

.travel-main {
  display: flex;
  height: 100vh;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  background-color: white;
}

.travel-dest {
  width: 48%;
  height: 46%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  transition: 300ms all;
  background-color: rgb(17, 87, 112);
}

.travel-dest:hover {
  transform: scale(1.041);
  cursor: pointer;
}

/* EUROPE----------------- */
#europe {
  margin-top: 10px;
  display: flex;
}

#europe-pic {
  width: 50%;
  background-image: url(matterhorn-3019429.jpg);
  background-size: cover;
  background-position: bot;
}

#europe-text {
  width: 50%;
}

/* AMERICA------------------------------ */

#north-america {
  margin-top: 10px;
  display: flex;
}
#north-america-pic {
  width: 50%;
  background-image: url(How\ To\ Take\ Photographs\ That\ Will\ Make\ You\ \ “Shutter”.jpg);
  background-size: cover;
}

#north-america-text {
  width: 50%;
}

/* JAPAN------------- */

#japan {
  margin-top: 10px;
  display: flex;
}
#japan-pic {
  width: 50%;
  background-image: url(japaaan.png);
  background-size: cover;
}

#japan-text {
  width: 50%;
}

/* scandinavia  */

#scandinavia {
  margin-top: 10px;
  display: flex;
}
#scandinavia-pic {
  width: 50%;
  background-image: url(finlad.png);
  background-size: cover;
}

#scandinavia-text {
  width: 50%;
}

#pop-up-login {
  z-index: 1000;
}
/* ----------- */

footer {
  border: 1px solid;
  background-color: black;
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  position: sticky;
}
