@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital@1&family=Barlow:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital@1&family=Barlow:wght@100&display=swap");

@font-face {
  font-family: Vonique;
  src: url(Vonique\ 64\ Bold\ Italic.ttf);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* 
body {
  background-color: #152238;
} */

div {
  border: 1px;
}

.title-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;
  width: 100%;
  height: 80vh;
  background-image: url(nedladdning.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.title-text {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  width: 40vw;
  background-color: rgb(20, 54, 66, 0.9);
}

#title-motto {
  margin-top: 0;
}

h1 {
  font-size: 75px;
  text-align: center;
  color: #bb0a21;
  font-family: "Barlow", sans-serif;
}

h2 {
  font-size: 32px;
  text-align: center;
  color: white;
}
h3 {
  text-align: center;
}

.our-skiers {
  display: flex;
  height: 40vh;
  margin-top: 2vh;
}

.skiers {
  transition: 300ms all;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  overflow: hidden;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 10 10'> <path d='M0 0 L0 10 L10 10 ' fill='black' /></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

.skiers-text {
  width: 50%;
  height: 100%;
  background-color: white;
}
.skiers-pic {
  width: 50%;
  height: 100%;
}

#tjäder {
  background-image: url(jepser\ .png);
}

.skiers:hover {
  transform: scale(1.05);
  border-radius: 5px;
}

.travel-main {
  display: flex;
  height: 100vh;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  background-color: white;
}

.travel-dest {
  width: 48%;
  height: 46%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  transition: 300ms all;
}

.travel-dest:hover {
  transform: scale(1.041);
}

/* EUROPE----------------- */
#europe {
  margin-top: 10px;
  display: flex;
}

#europe-pic {
  width: 50%;
  background-image: url(French\ Alps\ Ski\ Weekend\ Trip\ To\ Chamonix\,\ France\ –\ piscoandbier.jpg);
  background-size: cover;
  background-position: bot;
}

#europe-text {
  width: 50%;
}

/* AMERICA------------------------------ */

#north-america {
  margin-top: 10px;
  display: flex;
}
#north-america-pic {
  width: 50%;
}

#north-america-text {
  width: 50%;
}
